<div class="container info">
<div class="row">
   <div class="col-xs-12 col-md-offset-2 col-sm-offset-1 col-sm-10 col-md-8 well">
  
  <div class="row">
    <div class="col-md-2 col-xs-4 col-sm-3">
      <img class="avatar" src="/images/eric-cestari.JPG"/>
        <p class="text-justified"><a  href="https://twitter.com/cstar"><i class="fa fa-twitter fa-2x"></i></a>
<a  href="https://github.com/cstar"><i class="fa fa-github fa-2x "></i></a> 
<a  href="http://www.linkedin.com/in/ecestari"><i class="fa fa-linkedin fa-2x"></i></a> </p>
    </div>
    <div class="col-md-10 col-xs-8 col-sm-9">
      <h4>About this blog</h4>
    <p>This blog is written and maintained by the guy on the left, <a href="mailto:eric@cstar.io">Eric Cestari</a>.<br/> I do consulting and development through cstar industries SARL, based in Montreuil, France. I develop web and realtime web applications for my clients, using technologies such as the CLOUD, Erlang/OTP, ejabberd, and various web frameworks. Since 2000.</p>
  
    </div>
  </div>
</div>
</div>
</div>
<div class="container footer"> 

</div>

