// Fonts
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

// Variables
@import 'variables';


BODY {
  background-color: white;
  color: $mainFont;
  font-family: 'Titillium', sans-serif;
}

.col-lg-6{
  padding: 0;
}

.card {
  border: none;
}
HEADER {
  margin: 100px 0 200px 0;
}

.btn {
  background-color: black;
  color: $blue;
}

#logo {
  max-width: 300px;
  max-height: 70px;
}

.title {
  font-size: 65px;
  font-weight: bold;
  line-height: 1.08;
}

.title2 {
  font-weight: bold;
  line-height: 1.08;
  font-size: 45px;
}

#cstarTitle {
  color: $pink;
}

.subtitle {
  font-size: 25px;
  font-weight: bold;
}

.subtitleRight {
  text-align: right;
}

.subtitleLight{
  font-size: 25px;
  margin-bottom: 10vh;
}

.section1 {
  min-height: 500px;
}

.section2 {
  margin-top: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.logosClients {
  width: 10vw;
  height: 100%;
}

.section3 {
  margin-top: 25vh;
  min-height: 500px;
  background-color: $lightPink;
  padding: 50px 0 0 50px;
}

.sec3 {
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.sec4 {
  margin-bottom: 5vh;
}

.section4 {
  margin-top: 25vh;
}

.subSection4{
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.section5 {
  background-color: $blue;
  margin-top: 25vh;
  margin-bottom: 25vh;
  min-height: 500px;
  padding: 50px 50px 0 50px;
}

%sectionTexts {
  margin-top: 25vh;
  margin-bottom: 25vh;
  min-height: 500px;
  padding: 50px 50px 0 50px;
}

.sectionText1 {
  @extend %sectionTexts;
  background-color: #F3E5F5;
}
.sectionText2 {
  @extend %sectionTexts;
  background-color: #EDE7F6;
}
.sectionText3 {
  @extend %sectionTexts;
  background-color: #E8EAF6;
}
.sectionText4 {
  @extend %sectionTexts;
  background-color: #E1F5FE;
}

.topSection5{
  margin-top: 10vh;
  width: 100%;

  // align-items: baseline;
}

.middleSection5 {
  width: 100%;

}

.socialMedia {
  width: 170px;
    h2{
      font-size: 25px;
    }
  margin-bottom: 30px;
}
